body{
	background-color:fff;
	font-family:Verdana,Arial,Tahoma;
	margin:0;
	padding:0;
}
#container{
	margin:0 auto;
	width:767px;
	min-height:800px;
}
#header{
	width:767px;
	height:60px;
	background:url("../images/head.png") repeat-x;
}
#text{
	color:white;
	font-size:28px;
	font-family:Arial;
	text-shadow:3px;
	padding:13px 34px 0px;
}
#text1 {
	width:110px;
	margin:0px 622px 0px;
	font-size:13px;
	font-family:Arial;
    margin-right:19px;	
}
#text2 {
	margin:0px 622px 74px;
	margin-top:-59px;
	height:60px;
    width:110px;
	
	background:url("../images/corsina.png") no-repeat;
}
#text3{
	color:white;
	margin:0px 467px -54px;
	font-family:Arial;
	font-size:13px;
	margin-top:-135px;
}
#head{
	height:180px;
	width:800px;
	background:url("../images/header.png") no-repeat;
}
#text4{
	font-size:23px;
	color:white;
	width:135px;
	margin: 0px 387px 0px;
	margin-top:-130px;
}
#text5 {
	font-size:38px;
	color:white;
	width:235;
	margin:0px 527px 0px;
	margin-top:-43px;
}
#text5 .text5 {
	width:235px;
	font-size:10px;
}
#menu-gorizontal {
	margin-top:57px;
	width:767px;
	height:62px;
	background:url("../images/menu-gorizontal.png") repeat-x;
}
#menu-gorizontal a{
	width:767px;
	margin-top:-70px;
	margin-right:50px;
	padding-left:43px;
}
a.header:link{
	color:white;
}
a.header:visited{
	color:white;
}
a.header:hover{
	color:orange;
}
a.del_cat_id:link{
	color:gold;
}
a.del_cat_id:visited{
	color:green;
}
a.del_cat_id:hover{
	color:red;
}
#menu-header{
	background:url("../images/menu-header.png") no-repeat;
	width:260px;
	height:30px;
	margin-top:7px;
}
#menu-header .menu-header{
	margin-left:30px;
	font-size:20px;
	font-family:Times New Roman;
	margin-top:7px;
	color:white;
}
.menu-header p{
	margin-bottom:15px;
}
#sidebar {
	margin-top:0px;
	height:405px;
	width:260px;
}
#sidebar  a{
	
	color:black;}
#sidebar {
	margin-right:20px;
}
#Lowprice{
	display:block;
	background:url("../images/Lowprice.png") no-repeat;
	height:88px;
	width:250px;
}
.Lowprice {
	margin-left:70px;
	font-size:27px;
	color:white;
	font-family:Orlando;
}
.procents{
	font-family:Orlando;
	color:white;
	margin-top:-53px;
	margin-left:161px;
	font-size:50px;
}
#footer{
	display:block;
	margin:680px 0px 0px;
	min-height:10px;
}
#footer2{
	
	background:url("../images/footer2.png") repeat-x;
	margin-right:0px;
	min-height:75px;
	width:500px;
	margin-top:-75px;
	margin-left:278px;
}
#footer1{
background:url("../images/footer1.png") no-repeat;
	min-height:75px;
	width:280px;
	
}
#things-menu{
	background:url("../images/clockmenu.png") no-repeat;
	height:30px;
	width:516px;
   
	margin-top:-540px;
}
.things-menu {
	margin-left:30px;
	 font-family:Times New Roman;
	color:white;
	font-size:20px;
}
#sales{
	margin-left:260px;
	margin-top:135px;
}
#leftcklocks{
	height:655px;
	width:250px;
}
.clock1{
	
	height:165px;
	width:92px;
}

.description1{
	height:192px;
	width:140px;
	margin-top:-172px;
   margin-left:140px;
}
#rightclocks{
	margin-top:-200px;
	padding-right:0px;
	float:right;
}
.title{
	font-size:15px;
}
.text{
	font-size:12px;
	
}
.price1{
	color:gold;
	font-size:20px;
	
}
.button1{
	background:url("../images/details_btn.png") no-repeat;
	width:56px;
	height:19px;
}
.button2{
	height:18px;
	width:75px;
	background:url("../images/sale_btn.png") no-repeat;
}
#page{
	min-height:360px;
	width:500px;
	margin:-435px 280px 0px;
	background:url(../images/main.png) repeat;
}
#table{
	size:80px;
	
}
table, th, td {
    border: black solid 1px;
}
.tr{
	margin-top:30px;
	font-family:Orlando;
	color:white;
	text-align:center;
	font-size:40px;
	background-color:nevy;
	margin-top:30px;
}

#send{
	background-color:orange;
	font-family:Tahoma;
}
#form{
	background-color:orange;
}
#All{
	text-align:right;
	
}
#btn{
	background-color:red;
}
#image{
	height:145px;
	width:70px;
	margin:-465px 330px 0px;
}
#my_photo{
	margin:0px 25px 0px;
	height:130px;
	width:120px;
	background-color:gold;
}
#description_account{
	width:310px;
	margin:-115px 165px 140px;
	font-size:25px;
	font-family:Times New Roman;
	
}
#account{
	margin-top:30px;
}
.clear {
	clear: both;
}
.p1{
	margin-top:-20px;
}
.delete_button{
	background:url("../images/delete_button.png") no-repeat;
	height:40px;
	width:45px;
	margin:0px 35px 0px;
}
#search{
	height:18px;
	
	margin:25px 40px 0px;
	background-color:#436599;
	color:orange;
}
#search_btn{
	height:25px;
	width:35px;
	background:url("../images/search_btn.png") no-repeat;
	margin:0px -47px 0px;
	padding-bottom:7px;
}
.copyright{
	font-size:13px;
	padding-bottom:8px;
	padding-top:10px;
	margin:0px 350px 0px;
	height:50px;
	width:180px;
	
}
#form1{
	margin:-70px 0px 0px;
}
.form{
	margin-top:-430px;
	margin-left:220px;
}
.admin{
	color:red;
	margin:0px 0px 0px;
	padding-left:150px;
	padding-bottom:100px;
	min-height:600px;
}
#links{
	color:black;
}
#space{
	height:420px;
}	
#comment{
	margin-top:140px;
}
#navigation{
	margin-top:260px;
	margin-left:360px;
}
.comment_date{
	margin-left:250px;
	margin-top:-40px;
	color:silver;
}
.panel{
	display:none;
}
.js-panel-open{
	background-color: rgba(255, 255, 255, 0.75);
	margin-left:320px;
	margin-top:15px;
	min-height:100px;
	width:370px;
	display:block;
	position:absolute;
	
}
#cart_btn{
	background:url("../images/cart.png") no-repeat;
	height:30px;
	width:105px;
}
#cart_btn:hover{
	background:url("../images/cart_active.png") no-repeat;
	height:30px;
	width:105px;
}
#cart_order_btn{
	height:32px;
	width:176px;
	background:url("../images/cart_order.png") no-repeat;
}
#cart_order_btn:hover{
	height:32px;
	width:176px;
	background:url("../images/cart_order_active.png") no-repeat;
}